name: Build and deploy Docker images to GCP Artifact Registry

on:
    push:
        branches:
            - main
    workflow_dispatch:

env:
    GCP_REGISTRY: ${{ secrets.ECMSP_GCP_ARTIFACT_REGISTRY }}
    IMAGE_TAG: ${{ github.sha }}
    IMAGE_NAME: ${{ github.event.repository.name }}

jobs:
    build_deploy:
        runs-on: ubuntu-latest

        steps:
            - 
                name: Check out code
                uses: actions/checkout@v3

            - 
                name: Set up JDK 21
                uses: actions/setup-java@v3
                with:
                    java-version: '21'
                    distribution: 'temurin'
                    cache: 'maven'

            -
                name: Update Maven snapshots
                run: mvn -U dependency:resolve

            - 
                name: Authenticate to Google Cloud
                uses: google-github-actions/auth@v1
                with:
                    credentials_json: ${{ secrets.ECMSP_REGISTRY_PUSHER_GCP_SA_KEY }}

            - 
                name: Setup gcloud CLI
                uses: google-github-actions/setup-gcloud@v2
                with:
                    version: "latest"
                    project_id: ecmsp

            - 
                name: Install gcloud auth
                run: gcloud components install gke-gcloud-auth-plugin

            -
                name: Configure Docker for Artifact Registry
                run: gcloud auth configure-docker europe-west1-docker.pkg.dev

            - 
                name: Build, tag, and push backend Docker image to GCP Artifact Registry
                run: |
                    docker build \
                      -t $GCP_REGISTRY/$IMAGE_NAME:$IMAGE_TAG \
                      -t $GCP_REGISTRY/$IMAGE_NAME:latest \
                      -f ./Dockerfile .

                    docker push $GCP_REGISTRY/$IMAGE_NAME:$IMAGE_TAG
                    docker push $GCP_REGISTRY/$IMAGE_NAME:latest



